@import "../../global.scss";

.projects {
  background-color: $mainLightColor;
  // height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    h1 {
      font-family: "Montserrat";
      font-weight: lighter;
      font-size: 60px;
      margin: 10px 0;
      color: black;
      margin-right: 15px;
    }
    h2 {
      font-family: "Montserrat";
      font-weight: lighter;
      font-size: 60px;
      margin: 10px 0;
      color: $mainColor;
    }
  }
  p {
    font-family: "Lora";
    font-size: $mainSize;
    margin-bottom: 20px;
  }
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 65px;

    .proj {
      background-color: #b9ae9c;
      max-height: 300px;
      max-width: 420px;
      height: 20vw;
      width: 28vw;
      box-shadow: 1px 1px 4px $mainColor;
      margin: 0.5vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      white-space: normal;
      object-fit: cover;
      transition: all 0.5s ease;
      position: relative;

      &:hover {
        transform: scale(1.05);
        box-shadow: 1px 1px 4px $secondaryColor;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
      }
      .vertical {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: scale-down;
        position: relative;
      }

      .blur {
        backdrop-filter: blur(3px);
      }

      .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        background: rgba(127, 84, 99, 0.8);
        opacity: 0;
        transition: opacity 0.25s;

        > * {
          transform: translateY(20px);
          transition: transform 0.25s;
        }
        &:hover {
          opacity: 1;
          > * {
            transform: translateY(0);
            color: white;
          }
        }

        h3 {
          font-size: $mainSize;
          font-family: "Montserrat";
          font-weight: bold;
          // position: absolute;
          // overflow-wrap: break-word;
          // white-space: normal;
          // text-align: center;
          // z-index: 2;
          // margin: 10px;
        }
        h4 {
          font-family: "Lora";
          // font-size: 18px;
          font-weight: normal;
        }
        p {
          font-size: 18px;
          margin: $mainSize;
          font-family: 'Montserrat';
        }
        .btn-container {
          display: flex;
          flex-direction: row;
          margin-bottom: $mainSize;
          a {
            text-decoration: none;
            height: 40px;
            width: 40px;

            i {
              display: flex;
              align-self: center;
              justify-content: center;
              color: white;
              height: 100%;
              .fas,
              .fab {
                height: 40px;
              }
            }
          }
        }
      }
    }

    // .flip-card {
    //   background-color: transparent;
    //   max-height: 300px;
    //   max-width: 420px;
    //   height: 20vw;
    //   width: 28vw;
    //   margin: 0.5vw;
    //   // border: 1px solid #f1f1f1;
    //   perspective: 1000px;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   white-space: normal;
    //   object-fit: cover;
    //  transition: all 0.5s ease;
    //   position: relative;

    //   &:hover {
    //     box-shadow: 0px 0px;
    //     .flip-card-inner {
    //       transform: rotateY(180deg);
          
    //       // transform: scale(1.05);
    //     }
    //   }
    // }
    // .flip-card-inner {
    //   position: relative;
    //   width: 100%;
    //   height: 100%;
    //   text-align: center;
    //   transition: transform 0.8s;
    //   transform-style: preserve-3d;

    //   img {
    //     display: block;
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    //     position: relative;
    //     box-shadow: 1px 1px 4px $mainColor;
    //   }

    // }
    // .flip-card-front {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   -webkit-backface-visibility: hidden;
    //   backface-visibility: hidden;
    //   background-color: #bbb;
    //   color: black;
    // }
    // .flip-card-back {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   -webkit-backface-visibility: hidden;
    //   backface-visibility: hidden;
    //   background-color: $mainColor;
    //   color: white;
    //   transform: rotateY(180deg);

    //   h3 {
    //     font-size: $mainSize;
    //     font-family: "Montserrat";
    //     font-weight: normal;
    //   }
    //   h4 {
    //     font-family: "Lora";
    //     // font-size: 18px;
    //     font-weight: normal;
    //   }
    //   p {
    //     font-size: 15px;
    //     margin: $mainSize;
    //     font-family: 'Montserrat';
    //   }
      
    //   .btn-container {
    //     display: flex;
    //     flex-direction: row;
    //     margin-bottom: $mainSize;
    //     a {
    //       text-decoration: none;
    //       height: 40px;
    //       width: 40px;

    //       i {
    //         display: flex;
    //         align-self: center;
    //         justify-content: center;
    //         color: white;
    //         height: 100%;
    //         .fas,
    //         .fab {
    //           height: 40px;
    //         }
    //       }
    //     }
    //   }
    // }

  }
  // .hexagon-container {
  //   /* HEX CONTENT */
  //   /* HOVER EFFECT  */
  //   font-family: "Lora";
  //     background: $mainLightColor;
  //     // height: 100vh;
  //     width: 80%;
    
  //   * {
  //     margin: 0;
  //     padding: 0;
  //   }
  //   #categories {
  //     overflow: hidden;
  //     width: 90%;
  //     margin: 0 auto;
  //     li {
  //       position: relative;
  //       list-style-type: none;
  //       width: 27.85714285714286%;
  //       padding-bottom: 32.16760145166612%;
  //       float: left;
  //       overflow: hidden;
  //       visibility: hidden;
  //       -webkit-transform: rotate(-60deg) skewY(30deg);
  //       -ms-transform: rotate(-60deg) skewY(30deg);
  //       transform: rotate(-60deg) skewY(30deg);
  //       transition: all 0.5s ease;

  //       &:hover {
  //         transform: rotate(-60deg) skewY(30deg) scale(1.05);
  //       }
  //       &:nth-child(3n + 2) {
  //         margin: 0 1%;
  //       }
  //       &:nth-child(6n + 4) {
  //         margin-left: 0.5%;
  //         margin-top: -6.9285714285%;
  //         margin-bottom: -6.9285714285%;
  //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         &:last-child {
  //           margin-bottom: 0%;
  //         }
  //       }
  //       &:nth-child(6n + 5) {
  //         margin-top: -6.9285714285%;
  //         margin-bottom: -6.9285714285%;
  //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         &:last-child {
  //           margin-bottom: 0%;
  //         }
  //       }
  //       &:nth-child(6n + 6) {
  //         margin-top: -6.9285714285%;
  //         margin-bottom: -6.9285714285%;
  //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         transform: translateX(50%) rotate(-60deg) skewY(30deg);
  //         &:last-child {
  //           margin-bottom: 0%;
  //         }
  //       }
  //       * {
  //         position: absolute;
  //         visibility: visible;
  //       }
  //       > div {
  //         width: 100%;
  //         height: 100%;
  //         text-align: center;
  //         color: #fff;
  //         overflow: hidden;
  //         -webkit-transform: skewY(-30deg) rotate(60deg);
  //         -ms-transform: skewY(-30deg) rotate(60deg);
  //         transform: skewY(-30deg) rotate(60deg);
  //         -webkit-backface-visibility: hidden;
  //       }
  //       img {
  //         left: -100%;
  //         right: -100%;
  //         width: auto;
  //         height: 100%;
  //         margin: 0 auto;
  //         object-fit: cover;
  //       }
  //       h1 {
  //         bottom: 110%;
  //         font-style: italic;
  //         font-weight: normal;
  //         font-size: 1.5em;
  //         padding-top: 100%;
  //         padding-bottom: 100%;
  //         &:after {
  //           content: "";
  //           display: block;
  //           position: absolute;
  //           bottom: -1px;
  //           left: 45%;
  //           width: 10%;
  //           text-align: center;
  //           z-index: 1;
  //           border-bottom: 2px solid #fff;
  //         }
  //       }
  //       p {
  //         padding-top: 50%;
  //         top: 110%;
  //         padding-bottom: 50%;
  //       }
  //       div {
  //         &:hover {
  //           h1 {
  //             bottom: 50%;
  //             padding-bottom: 10%;
  //           }
  //           p {
  //             top: 50%;
  //             padding-top: 10%;
  //           }
  //         }
  //       }
  //     }
  //     div {
  //       h1 {
  //         width: 90%;
  //         height: 50%;
  //         padding: 0 5%;
  //         background-color: rgba(127, 84, 99, 0.8);
  //         font-family: "Raleway", sans-serif;
  //         -webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //         -ms-transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //         transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //       }
  //       p {
  //         width: 90%;
  //         padding: 0 5%;
  //         background-color: rgba(127, 84, 99, 0.8);
  //         font-family: "Raleway", sans-serif;
  //         -webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //         -ms-transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //         transition: top 0.2s ease-out, bottom 0.2s ease-out,
  //           0.2s padding 0.2s ease-out;
  //       }
  //     }
  //   }
  //   .clr {
  //     &:after {
  //       content: "";
  //       display: block;
  //       clear: both;
  //     }
  //   }
  // }
}
