@import "../../global.scss";

.resume {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    h1 {
      font-family: "Montserrat";
      font-weight: lighter;
      font-size: 60px;
      margin: 10px 0;
      color: black;
      margin-right: 15px;
    }
    h2 {
      font-family: "Montserrat";
      font-weight: lighter;
      font-size: 60px;
      margin: 10px 0;
      color: $mainColor;
    }
  }

  .row {
    display: flex;
    width: 70vw;
    max-width: 70vw;
    margin-bottom: 70px;

    .nav {
      // border: 1px solid black;
      position: sticky;
      margin-top: 40px;
    //TODO: on mobile, get rid of nav -- position:fixed;

      .nav-list {
        text-decoration: none;
        list-style-type: none;
        position: -webkit-sticky;
        position: sticky;
        top: 120px;      
        width: 170px;
        max-width: 180px;
        display: inline-block;

        .nav-element {
          margin-bottom: 10px;
          .nav-links {
            color: #000;
            font-family: "Montserrat";
            text-decoration: none;
            font-size: 20px;

            &:hover {
              color: $mainColor;
            }

            &.active {
              color: $mainColor;
              margin-left: 20px;
              list-style-type: "-";
              transition: all 0.3s ease;
              // text-decoration: underline $mainColor;
              // border-bottom: 1px solid $mainColor;
            }
          }
        }
      }
    }
    .body {
      //  border: 1px solid black;
        margin-left: 30px;

      h3 {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 30px;
        margin-top: 30px;
        color: $mainColor;
      }
      .item {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        border-bottom: 1px solid #d6d6d6;

        .circle {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $mainColor;
            margin-right: 10px;
            margin-left: 10px;
            align-items:center;
            justify-content: center;
            display: flex;

            .item-icon {
                width: 40px;
                // height: auto;
                vertical-align: middle; 
                text-align: center; 
                align-self: center;
                color: white;
            }
        }

        .text {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          p {
            font-family: "Lora";
            font-size: 20px;
            color: $secondaryColor;
            margin-bottom: 5px;

            a {
                color: $mainColor;
            }
          }

          h4 {
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 25px;
          }
          h5 {
            font-family: "Lora";
            font-size: 18px;
            margin-bottom: 10px;
          }
          h6 {
            font-family: "Lora";
            font-size: 18px;
            color: $mainColor;
          }
        }
      }
    }
  }
}
