@import '../../global.scss';

.about {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: $mainPadding;

    .description {
        max-width: $contentWidth;
        display: flex;  
        flex-direction: column;
        align-items: center;
        p {
            font-size: $mainSize;
            font-family: "Manrope";
            color: #5a5a5a;
            padding-bottom: 20px;
        }
    }

    padding-bottom: calc($mainPadding - 20px);

}