@import "../../global.scss";

.home {
  background-color: $offWhiteColor;
  display: flex;
  scroll-snap-align: start;
  width: 100%;

  @include mobile {
    flex-direction: column;
    padding-top: 65px;
    height: calc(100vh - 65px);
    //   align-items: center;
  }
  @media screen and (orientation: portrait) {
    flex-direction: column;
    display: flex-start;
  }

  .left {
    flex: 0.4;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;

    padding-left: calc(40vw - min(25vw, 350px));
    padding-top:$mainPadding;
    padding-bottom:$mainPadding;
    text-align: left;

    @media screen and (orientation: portrait) {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .left-top {
      position: sticky;
      top:$mainPadding;
      right: 0;

      .img-container {
        bottom: -2px;
        right: 3vw;
        width: 25vw;
        height: 25vw;
        max-height: 300px;
        max-width: 300px;

        background-color: $mainColor;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 5;
        overflow: hidden;

        @include mobile {
          height: 80vw;
          width: 80vw;
          max-height: 400px;
          max-width: 400px;
          // align-items: flex-start;
        }
        @media screen and (orientation: portrait) {
          height: 80vw;
          width: 80vw;
          max-height: 400px;
          max-width: 400px;
        }

        img {
          width: 70%;
        }
      }
    }
    h1 {
      position: sticky;
      font-family: "Inter";
      font-weight: bold;
      font-size: 50px;
      color: $mainColor;
      padding-top: 20px;

      @include mobile {
        font-size: 40px;
      }
    }
    h2 {
      position: sticky;
      font-family: $mainFont;
      color: $secondaryColor;
      font-weight: normal;
      font-size: 30px;
    }
    .nav {
      // border: 1px solid black;
      position: sticky;
      margin-top: 40px;

      @include mobile {
        position: fixed;
      }

      .nav-list {
        text-decoration: none;
        list-style-type: none;
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        display: inline-block;

        .nav-element {
          margin-bottom: 10px;

          .nav-links {
            cursor: pointer;
            color: $secondaryColor;
            font-family: "Manrope";
            font-weight: bold;
            text-decoration: none;
            font-size: $mainSize;

            &::before {
              display: inline-block;
              content: "";
              border-top: 1.5px solid $secondaryColor;
              width: 30px;
              transform: translateY(-5px);
              justify-content: center;
              margin-right: 5px;
            }

            &:hover {
              color: $mainColor;
            }

            &.active {
              color: $mainColor;
              &::before {
                transition: all 0.7s ease;
                border-top: 1.5px solid $mainColor;
                width: 50px;
              }
            }
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      position: sticky;
      bottom:$mainPadding;

      .link-wrapper {
        display: flex;
        align-items: center;
        padding-right: 15px;
        transition: all 1s ease out;
        a {
          text-decoration: none;

          .link {
            height: 6vh;
            width: 6vh;
            max-height: 40px;
            max-width: 40px;
            transition: all 1s ease out;
            color: #bebebe;

            &:hover {
              transition: all 1s ease out;
              color: $mainColor;
            }
          }

          .link-smaller {
            height: 5vh;
            width: 5vh;
            max-height: 30px;
            max-width: 30px;
            color: #bebebe;

            &:hover {
              transition: all 1s ease out;
              color: $mainColor;
            }
          }
        }
      }
    }
  }

  .right {
    flex: 0.6;
    position: relative;
    padding-left:$mainPadding;
    padding-top:$mainPadding;
    padding-right: calc(60vw - $contentWidth - 10vw);

    @media screen and (orientation: portrait) {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    > * {
      margin-bottom:$mainPadding;
    }
  }
}
