@import url(https://fonts.googleapis.com/css?family=Lora:regular,bold,italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic);

$mainColor: #7f5463;
$secondaryColor: #797979;
$mainSize: 20px;