@import url(https://fonts.googleapis.com/css?family=Lora:regular,bold,italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic);

$mainColor: #7f5463;
$secondaryColor: #797979;
$mainLightColor: #faf7f8;
$offWhiteColor: #f2f2f2;
$mainSize: 20px;